h1
{
	position: absolute;
	top: 70px;
	left: 150px;
}
p
{
	position: absolute;
	left: 100px;
	text-align: justify;
	width:250px;
	height:250px;
	top: 50px;
}
/*form
{
	position:absolute;
	left: 900px;
	width: 400px;
 	top :400px;
 }*/
#bhas
{ 
	word-spacing: 200px;
	background-color:
	width:1400px;
	height:75px;
}
#jan
{

position: absolute;
left: 100px;
top: 550px;

}

#boss
{
background-color:bisque;
position: absolute;
width:200px;
height: 350px;
left: 1050px;
top: 400px;
}
#bh
{
background-color:beige;

}
#real
{
background-color:red;
width:1400px;
height:150px;
}
#para2{
	
	background-color: yellow;
	top: 1000px;
	height: 50px;
	left: 20px;
	width:1400px;

}
#para
{
	position: absolute;
	top: 250px;
	right: 200px;
	width: 800px;

}

#first
{

position: center;
width: 400px;
height: 100px;

}
#para1
{
	left: 550px;
	top: 1020px;
}